ArduPilot/**/*.pyc
ArduPilot/.lock-waf*
ArduPilot/build

Joystick/.vscode/keil_project_properties.json
Joystick/.vscode/keil-assistant.log
Joystick/MDK-ARM/DebugConfig
Joystick/MDK-ARM/RTE
Joystick/MDK-ARM/LED
Joystick/MDK-ARM/*.lst
Joystick/MDK-ARM/*.23833
Joystick/MDK-ARM/*.86130

Transceiver/.vscode/keil_project_properties.json
Transceiver/.vscode/keil-assistant.log
Transceiver/MDK-ARM/DebugConfig
Transceiver/MDK-ARM/RTE
Transceiver/MDK-ARM/Transceiver
Transceiver/MDK-ARM/*.lst
Transceiver/MDK-ARM/*.23833
Transceiver/MDK-ARM/*.86130
